@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&display=swap');

*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
	text-decoration: none;
	outline: none;
    
}
span{
	color: var(--main-color);
}
:root{
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #2CB091;
}
.AnimateBackground{
	background: linear-gradient(135deg, #4158D0, #C850C0, #FFCC70);
    animation: change 1s ease-in-out infinite;
	background-size: 300% 300%;
    background-repeat: no-repeat;
	height: 450px;
	position: relative;
    background-color: inherit;
 
	bottom: 113px;
}
@keyframes change {
	0%{
	   background-position: 0 50%;
	}
	50%{
	   background-position: 100% 50%;
	}
	100%{
	   background-position: 0 50%;
		}
	}
	
	hr{
		position: relative;
		border: none;
		max-width: 100%;
		outline-style: none;
		height: 18px;
		background-color: var(--main-color);
		overflow:  visible!important;
		bottom: 563px;
		border-radius: 200%;
	   
	}
iframe{
	visibility: collapse;
}
body {
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: url('images/BACKGROUND.png') no-repeat;
	background-position-y: 70px;
	background-size: contain;
	overflow: hidden visible;
	
}
#preloader{
	background: #000 url(images/circle-loader.gif.crdownload) no-repeat center center;
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 100;
	background-size: 15%;
}
header{
    
	width: 100%;
	padding: 10px 90px;
	background-image: url("images/Header.jpg");
	display: flex;
	justify-content: space-between;
	align-items: center;
    z-index: 99;
	background-repeat: no-repeat;
	background-position: center;
	object-fit: cover;
	background-size: cover;
    font-weight: bold;
}
header img{
	text-decoration: none;
    width: 180px;
    height: 120px;
    background-repeat: no-repeat;
	background-position: center;
	object-fit: cover;
	background-size: cover;
}
.search{
	position: relative;
	width: 40px;
	height: 40px;
	background: #2CB091;
	border-radius: 50px;
	transition: 0.5s;
	box-shadow: 1 2 3 5px #2CB091;
	overflow: hidden;
    left: 300px;
	bottom: 1000px;
}
.search.active{
	width: 250px;
}
.search .icon{
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	background: #2CB091;
	border-radius: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
    cursor: pointer;
}

.search .icon::before{
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	border: 3px solid #fff;
	border-radius: 50%;
	transform: translate(-4px,-4px);

}

.search .icon::after
{
	content: '';
	position: absolute;
	width: 3px;
	height: 10px;
	background: #fff;
	transform: translate(6px,6px) rotate(315deg);
}

.search .input
{
	position: relative;
	width: 210px;
	height: 60px;
	left: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search .input input
{
	position: absolute;
	top: -10px;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	font-size: 18px;
    padding: 5px 0;
	background-color: gray;
	color:whitesmoke;
	cursor: pointer;
}

.clear
{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 15px;
	height: 15px;
	right: 15px;
	background: grey;
	border-radius: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.clear::before
{
	position: absolute;
	content: '';
	width: 1px;
	height: 15px;
	background: white;
	transform: rotate(45deg);
}
.clear::after
{
	position: absolute;
	content: '';
	width: 1px;
	height: 15px;
	background: #fff;
	transform: rotate(315deg);
}


.navigation a{
	position: relative;
	font-size: 1.2em;
	color: #fff;
	text-decoration: none;
	font-weight: 500;
	margin-left: 40px;
	letter-spacing: 1px;
}

.navigation a::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -6px;
	width: 100%;
	height: 5px;
	background: #2CB091;
	border-radius: 5px;
	transform: scaleX(0);
	transition: transform .5s;
}
.navigation a:hover::after {
	transform-origin: left;
	transform: scaleX(1);
}
.navigation .btnLogin-popup{
	
	height: 50px;
	border: black;
    padding: 14px 28px;
	cursor: pointer;
    font-size: 1.2em;
	color: black;
	margin-left: 40px;
	transition: .5s;
	font-size: bold;
	font-weight: 500;

}
.navigation .btnLogin-popup:hover{
	background: black;
	color: #fff;

}
.btnLogin-popup {
	width: 100px;
}

.logo1 span{
    color:  #009688;
}

.navigation .bttn{
	
	height: 60px;
	border: black;
    
	cursor: pointer;
    font-size: 1.2em;
	color: black;
	margin-left: 20px;
	transition: .5s;
	font-size: bold;
	font-weight: 500;
   
    margin-right: 50px;

}
.navigation .bttn:hover{
	background: black;
	color: #fff;

}
.bttn {
	width: 150px;
    border-radius: 100px;
}

















.container{
	position: relative;
	left: 265px;
}
.container h1{
	color: #fff;
	position: relative;
	font-size: 26px;
	left: 450px;
  
}
.HR{
	position: absolute;
	height: 6px;
	background-color: #009688;
	width: 170px;
	left: 450px;
}
#CU{

	color: #2CB091;
	font-size: 20px;
  
 }
 .Formstyle{
    font-size: 35px;
    line-height: 50px;
    font-family: arial;
    color: whitesmoke;
    font-weight: medium;
    margin-left: 30px;
} 
.name{
    color: #040404;
    font-weight: bold;
    padding-bottom: 0;
    font-size: 20px;
    margin-left: 50px;
    height: 54px;
    width: 461px;
}
.email{
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    margin-left: 15px;
    height: 54px;
     width: 461px;
}
.subject{
    color: #141414;
    font-weight: bold;
    font-size: 20px;
    margin-left: 50px;
    height: 55px;
    width: 942px;
}
.message{
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    margin-left: 50px;
    height: 184px;
    margin-bottom: 50px;
    width: 942px;

}

.marginbottom50style{
    color:  #fff;
    font-weight: bold;
    margin-bottom: 50px;
    margin-left: 50px;
    font-size: 25px;
    font-family: 'Courier New', Courier, 'poppins';
}
.marginbottom20style{
    color: whitesmoke;
    font-weight: 40;
    margin-bottom: 10px;
    margin-left: 40px;
    font-size: 18px;
    position: relative;
    font-family: arial;
}
.asterisk{
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}
button{
   width: 200px;
   padding: 15px 0;
   text-align: center;
   margin: 20px 10px;
   font-weight: bold;
   border: 2px solid #009688;
   background: transparent; 
   color: black;
   cursor: pointer;
   position: relative;
   overflow: hidden;
   bottom: 100px;
   left: 80px;
   height: 60px;

} 
button{
   box-shadow: 0 0 5px grey, 0 0 25px grey;
}
button hover{
   box-shadow: 0 0 5px lightgrey, 0 0 25px black, 0 0 50px black, 0 0 100px cyan, 0 0 200px cyan;
}
.ft p{
	position: relative;
	top: 40px;
	left: 100px;
	color: #fff;
	font-size: 20px;
 }
 button{
	color: black;
	background: white;
	font-size: 16px;
	font-weight: 500px;
	line-height: 25px;
	padding: 8px 30px;
	border: 2px solid black;
	border-radius: 30px;
	cursor: pointer;
 }
 button:hover{
	background-color: black ;
	border: 2px solid white;
	color: white;
	transition: .4s;
	font-weight: bold;
	font: monospace;
	letter-spacing: 10px;
	transition: 0.8s;
 }
 button::after{
	transition: .5s;
 }

.cont-p{
   margin-left: 20px;
   top: 10px;
   position: relative;
   right: 400px;
   left: 10px;
   font-family: arial;
   font-weight: 900;
   font-size: 20px;
   color: #009688;
}
.cont-p-1{
   position: relative;
   top: -15px;
   left: 1250px;
   font-family: monospace;
   font-weight: bold;
   font-size: 20px;
   color: white;
}
.cont-p-1 span{
   color:  #009688;
}

#links{
	color: white;
}


 
.Fix{
	border-style:hidden;
	border-width: 500px;
	border-radius: 200px;
	mask-position: left;
	margin-bottom:50px;
	margin-top: 50px;
	margin-right: 0;

}
.fixright{
	margin-right:0px;
	margin-top: 10px;
}












.FOOTERS{
	display: inline-block;
	display: flex;
	position: relative;
	padding: auto;
	padding-left: 100px;
	flex-wrap: wrap;
	object-fit: cover;
	background-color: black;
	bottom: 35.2rem;

}
#links{
	color: white;
}
	 
.FOOTER{
	position: relative;
	display: inline-block;
	right: 50px;
	padding: 90px 70px 0; 
	
}
.FOOTER #COLOR{
	font-size: 35px;
		font-weight: bold;
		font-weight: 700;
	 }
	 .FOOTER h1,p{
		line-height: 30px;
		color: #fff; 
		cursor: pointer;
		font-size: 18px;
		
	 
	 }
	 .FOOTER h1{
		bottom: 20px;
		position: relative;
		font-family: monospace;
		font-size: 30px;
		color: darkcyan;
	 }
	 .FOOTER img{
		height: 55px;
		width: 53px;
		
		margin-bottom: 40px;
	 }
	 #ft-1{
		position: relative;
		display: flex;
		transition: 0.5s;
	 }
	 #ft-1:hover{   
		color: var(--main-color);
		transition: 0.5s;
	
	 }
	
	 
	 
	 .ft p{
		position: relative;
		top: 40px;
		left: 100px;
		color: #fff;
		font-size: 20px;
	 }
	 
	 .SocialTWO a{
		width: 50px;
		height: 50px;
	    border-radius: 0%;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		font-size: 25px;
		color: #eee;
		cursor: pointer;
		margin-right: 20px;
		background-color: rgba(255, 255, 255, 0.1);
		margin-bottom: 40px;
	 }
	 .SocialTWO a:hover{
		transform: scale(1.1);
		background: #2CB091;
		transition: .4s;
		
		box-shadow: 0 14px 28px rgb(0,0,0,0.12),0 10px 10px rgba(0, 0, 0, 0.22);
	 }
	 .SocialTWO a:nth-child(1):before{
		color: blue;
	 }
	 .SocialTWO a:hover:before{
		filter: blur(3px);
		transform: scale(1.2);
	 }
	 .SocialTWO a:nth-child(1):hover{
		color: #456cba;
		box-shadow: 0 0 15px #4267B2;
		text-shadow: 0 0 15px #4267B2;
	 }
	 .SocialTWO a:nth-child(2):hover{
		color: #26a4f2;
		text-shadow: 0 0 15px #1DA1F2;
		box-shadow: 0 0 15px #1DA1F2;
	 }
	 .SocialTWO a:nth-child(3):hover{
		color: violet;
		text-shadow: 0 0 15px violet;
		box-shadow: 0 0 15px cyan;
	 }
	 .SocialTWO a:nth-child(4):hover{
		color: #2a6cbb;
		text-shadow: 0 0 15px #ff0000;
		box-shadow: 0 0 15px violet;
	 }  
	 .SocialTWOa:nth-child(5):hover{
		color: red;
		box-shadow: 0 0 15px red;
		text-shadow: 0 0 15px red;
	 }
	 .SocialTWO a:nth-child(6):hover{
		color: red;
		box-shadow: 0 0 15px maroon;
		text-shadow: 0 0 15px orangered;
	 }
	 .SocialTWO a:nth-child(7):hover{
		color: blue;
		box-shadow: 0 0 15px blueviolet;
		text-shadow: 0 0 15px slateblue;
	 }


	 ::-webkit-scrollbar{
		width: 15px;
	 }
	 ::-webkit-scrollbar-track{
		background: #d1e5ff;
	 }
	 ::-webkit-scrollbar-thumb{
		background: linear-gradient(#642bff, #ff22e6, darkcyan);
		border-radius: 10px;
	 }











	 #TRIVERSE2023{
		position: relative;
		justify-content: center;
		align-items: center; 
		left: 25rem;
		bottom: 43.2rem;
        
	 }
	#TRIVERSE2023{
		color: #eee;
		letter-spacing: 2px;
		font-size: 16px;
		font-weight: 700;
	}
	 
	