*{
	margin: 0;
	padding: 0;
   box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: url('BACKGROUND.png') no-repeat;
   background-size: cover;
   background-position: center;
	background-position-y: 90px;
}
header{
   position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px 110px;
	background-image: url("Header.jpg");
	display: flex;
	justify-content: space-between;
	align-items: center;
   z-index: 99;
	background-repeat: no-repeat;
	background-position: center;
	object-fit: cover;
	background-size: cover;
}
header img{
	text-decoration: none;
   width: 180px;
   height: 120px;
   background-repeat: no-repeat;
	background-position: center;
	object-fit: cover;
	background-size: cover;
}



.search{
	position: relative;
	width: 60px;
	height: 60px;
	background: #2CB091;
	border-radius: 50px;
	transition: 0.5s;
	box-shadow: 1 2 3 5px #2CB091;
	overflow: hidden;
   right: 1200px;
   bottom: 250px;
}
.search.active{
	width: 360px;
}
.search .icon{
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;
	background: #2CB091;
	border-radius: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
  cursor: pointer;
}
.search .icon::before{
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	border: 3px solid #fff;
	border-radius: 50%;
	transform: translate(-4px,-4px);

}
.search .icon::after
{
	content: '';
	position: absolute;
	width: 3px;
	height: 12px;
	background: #fff;
	transform: translate(6px,6px) rotate(315deg);
}
.search .input
{
	position: relative;
	width: 300px;
	height: 60px;
	left: 60px;
	display: flex;
	justify-content: center;
	align-items: center;

}
.search .input input
{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	font-size: 18px;
  padding: 10px 0;
}
.clear
{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 15px;
	height: 15px;
	right: 15px;
	background: black;
	border-radius: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clear::before
{
	position: absolute;
	content: '';
	width: 1px;
	height: 15px;
	background: white;
	transform: rotate(45deg);
}
.clear::after
{
	position: absolute;
	content: '';
	width: 1px;
	height: 15px;
	background: #fff;
	transform: rotate(315deg);
}



.navigation a{
	position: relative;
	font-size: 1.2em;
	color: #fff;
	text-decoration: none;
	font-weight: 500;
	margin-left: 40px;
	letter-spacing: 1px;
}

.navigation a::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -6px;
	width: 100%;
	height: 5px;
	background: #2CB091;
	border-radius: 5px;
	transform: scaleX(0);
	transition: transform .5s;
}
.navigation a:hover::after {
	transform-origin: left;
	transform: scaleX(1);
}
.navigation .btnLogin-popup{
	
	height: 50px;
	border: black;
  padding: 14px 28px;
	cursor: pointer;
  font-size: 1.2em;
	color: black;
	margin-left: 40px;
	transition: .5s;
	font-size: bold;
	font-weight: 500;

}
.navigation .btnLogin-popup:hover{
	background: black;
	color: #fff;

}
.btnLogin-popup {
	width: 100px;
}
#login-form
{
    display: none;
}
.form-box
{
  position:relative;
  padding: 20px;
  overflow: hidden;
  position: absolute;
  width: 455px;
  height: 617px;
  top: 210px;
  left: 900px;
  box-shadow: 5px 10px 50px #2689968a;
  background: linear-gradient(
    180deg,
    rgba(37.69, 137.06, 125.14, 0.97) 3.65%,
    rgba(0.73, 83.14, 87.13, 0.86) 26.58%,
    rgba(2.24, 102.67, 107.31, 0.87) 42.14%,
    rgba(42.4, 166.81, 166.81, 0.62) 56.89%,
    rgba(139.49, 24.98, 193.37, 0.54) 71.15%,
    rgba(161.13, 6.82, 233.75, 0.25) 82.01%,
    rgba(113.01, 46.61, 199.75, 0.22) 87.84%,
    rgba(53.12, 33.4, 174.25, 0.39) 95.14%,
    rgba(27.63, 2.53, 20.6, 0.97) 100%
  );

}
.button-box
{ 
	height: 60px;
	width: 230px;
	margin: 60px auto;
	position: relative;
	border-radius: 30px;
	background: #fff;


}
.toggle-btn
{
	padding: 21px 31px;
	cursor :pointer;
	background: transparent;
	border: 0;
	outline-color: white;
	position: relative;
	font-size: 15px;
	color: black;

}
#btn
{
	top: 0;
	left: 0;
	position: absolute;
	width: 120px;
	height: 100%;
	background: #33148C;
	border-radius: 30px;
	transition: .5s;
	outline-color: black;
	box-shadow: 3px 3px 3px black;
}

::placeholder {
  color: whitesmoke;
  opacity: 1; 
}

.input-group-login
{
	top: 180px;
	position:absolute;
	width: 280px;
	transition:.5s;
	color: darkcyan;

}
.input-group-register
{
    top: 160px;
	position:absolute;
    width:280px;
	transition:.5s;
	color: darkcyan;

}
.input-field
{
	width: 100%;
	font-size: 16px;
	margin: 20px 40px;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid #2CB091;
	outline: none;
	background: transparent;

}

.submit-btn
{
	height: 74px;
	width: 210px;
	padding: 25px 40px;
	cursor: pointer;
	display: block;
	margin: 5px 70px auto;
  background-color: #944dff;
	border: 0;
	outline: none;
	border-radius: 100px;
	color: whitesmoke;
	letter-spacing: 3px;
	font-size: 20px;
	font-weight: bold;
  transition: .5s;
  
}
.submit-btn:link, .submit-btn:visited {
  background: #33148C;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.submit-btn:hover, .submit-btn:active {
  background-color: #33148C;
}

.check-box
{
	margin: 30px 45px 30px 0;
	position: relative;
  left: 40px;
  top: 2px;
}
.input-group-register a{
	
	position: absolute;
	font-size: 18px;
	right: 430px;
	bottom: 100px;
  text-decoration: none;
  color: #fff; 
  transition: .5s;
}
.input-group-register a:hover{
	color: #2CB091;
}
span
{
	color: #fff;
	font-size: 14px;
	position: relative;

}
#login
{
	left:50px;
}
#login input
{
	color:white;
	font-size:15;
}
#register
{
	left:450px;
}
#register input
{
	color:white;
	font-size: 15;
}



.hero{
	width: 100%;
	height: 100%;
	min-height: 100vh;
	background-size: cover;
   margin-left: 110px;
}
.container{
	padding-top: 300px;

}
.container .hero-text{
	margin-bottom: 40px;
}
.container .hero-text h1{
	color: white;
	font-size: 47px;
	font-weight: bolder;
	line-height: 1.2;
	margin: 20px 0px 20px;
	stroke: black;
}
.input{
	font-size: 47px;
	color: #2CB091;
	stroke: black;
}
span{
	color: #fff;
}

.container .hero-text p{
	width: 440px;
	max-width: 100%;
	color: #eee;
	font-size: 15px;
	line-height: 1.5;
	margin-bottom: 30px;
}

.social a{
	width: 37px;
	height: 37px;
	border-radius: 50px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 17px;
	color: #eee;
	cursor: pointer;
	margin-right: 20px;
	background-color: rgba(255, 255, 255, 0.1);
	margin-bottom: 35px;
}

.social a:hover{
	transform: scale(1.1);
	background: white;
	transition: .4s;
	box-shadow: 0 0 15px black;
}
.social a:nth-child(1):before{
	color: blue;
}
.social a:hover:before{
	filter: blur(3px);
	transform: scale(1.2);
}
.social a:nth-child(1):hover{
	color: #456cba;
	box-shadow: 0 0 15px #4267B2;
	text-shadow: 0 0 15px #4267B2;
}
.social a:nth-child(2):hover{
	color: #26a4f2;
	text-shadow: 0 0 15px #1DA1F2;
	box-shadow: 0 0 15px #1DA1F2;
}
.social a:nth-child(3):hover{
	color: violet;
	text-shadow: 0 0 15px violet;
	box-shadow: 0 0 15px cyan;
}
.social a:nth-child(4):hover{
	color: #2a6cbb;
	text-shadow: 0 0 15px #ff0000;
	box-shadow: 0 0 15px violet;
}	
.social a:nth-child(5):hover{
    color: #ff1a1a;
	box-shadow: 0 0 15px #ff0000;
	text-shadow: 0 0 15px #ff0000;
}



.container .hero-text button{
	color: #eee;
	background: #2CB091;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	padding: 8px 30px;
	border: 2px solid #2ecc71;
	border-radius: 30px;
	cursor: pointer;
}
.container .hero-text button:hover{
	background: transparent;
	border: 2px solid #2ecc71;
	color: #2ecc71;
	transition: .4s;
}
.bottom{
	margin-top: 243px;
	padding-bottom: 40px;
}
.bottom p{
	color: #eee;
	letter-spacing: 2px;
	font-size: 15px;
}
@media screen and (max-width: 930px) {
	nav .hamb{
		display: initial;
	}
	.click{
		top: 46px;
	}
	.click span{
		position: absolute;
		margin-top: 12px;
	}
	.click span:first-child{
		transform: rotate(-40deg);
	}
	.click span:nth-child(2){
		opacity: 0;
		margin: 0;
	}
	.click span:last-child{
		transform: rotate(40deg);
		top: 0;
	}
	nav .nav-list{
		position: absolute;
		top: 90px;
		right: -65%;
		bottom: 0;
		width: 60px;
		height: 50px;
		background: black;
        z-index: 2;
        padding: 6% 9%;
        transition: .3s right;
        border-radius: 10px;
	}
	nav .nav-list li{
		display: block;
	}
	nav .nav-list li a{
		display: block;
		text-align: center;
		font-size: 18px;
		font-weight: 400;
		margin-left: 0;
		margin-bottom: 40px;
	}
	nav .nav-list li.btn a{
		position: absolute;
		bottom: 0%;
		right: 20%;
		left: 20%;
		padding: 7px 15px;
		font-size: 14px;
	}
	
	nav .nav-list.open{
		right: 0;
	}


/*
.FOOTERS{
   display: inline-block;
   display: flex;
   position: relative;
   display: left;
   padding-left: 50px;
   margin-top: 20px;
   max-width: 1550px;
   max-height: 450px;
   background-image: url(OSE.jpg);
   object-fit: cover;
   overflow: hidden;
}
#links{
   color: white;
}
.FOOTER{
   position: relative;
   display: inline-block;
   right: 50px;
   padding: 75px;
   margin-top: 10px;

}
.FOOTER h1,p{
   line-height: 30px;
   color: #fff; 
   cursor: pointer;

}
.FOOTER h1{
   bottom: 20px;
   position: relative;
   font-family: monospace;
   font-size: 30px;
   color: darkcyan;
}
.FOOTER img{
   height: 55px;
   width: 53px;
   
   margin-bottom: 40px;
}
#ft-1{
   position: relative;
   display: flex;
}
#ft-2{
   position: relative;
   display: flex;
}
#ft-3{
   position: relative;
   display: flex;
}
#ft-1:hover{   
   color: darkorange;

}
#ft-2:hover{
   color: darkorange;
}
#ft-3:hover{
   color: darkorange;
}
.NavFooter{
   font-family: sans-serif;
   background-position: center;
   position: relative;
   width: 1600px;
   position: relative;
   background-color: #141414;
   text-justify: center;
   bottom: 1565px;
   height: 120px;
   background-image: url(FBI.png);
   object-fit: cover;
 
   
}
.NavFooter ul li{
   display: inline-block;
   margin: 0 25px;
   position: relative;
   left: 700px;
   color: #fff;
   bottom: 20px;
   text-transform: uppercase;
   cursor: pointer;
   letter-spacing: 1px;
   top: 5px;
   left: 780px;
}
.NavFooter ul li a{  
   position: relative;
   text-decoration: none;
   color: #fff;
   text-transform: uppercase;
   justify-content: space-between; 
   align-items: center;
   bottom: 1px;
   top: 10px;
}
.NavFooter ul li::after{
   content: '';
   height: 3px;
   width: 0;
   background: #009688;
   position: absolute;
   left: 0;
   bottom: -10px;
   transition: 0.5s;
   top: 35px;
}
.NavFooter ul li:hover::after{
   width: 100%;
}
.ft p{
   position: relative;
   top: 40px;
   left: 100px;
   color: #fff;
   font-size: 20px;
}
button{
   color: black;
   background: white;
   font-size: 16px;
   font-weight: 500px;
   line-height: 25px;
   padding: 8px 30px;
   border: 2px solid black;
   border-radius: 30px;
   cursor: pointer;
}
button:hover{
   background-color: black ;
   border: 2px solid white;
   color: white;
   transition: .4s;
   font-weight: bold;
   font: monospace;
   letter-spacing: 10px;
   transition: 0.8s;
}
.social a{
   width: 40px;
   height: 40px;
   border-radius: 40px;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   font-size: 17px;
   color: #eee;
   cursor: pointer;
   margin-right: 20px;
   background-color: rgba(255, 255, 255, 0.1);
   margin-bottom: 40px;
}
.social a:hover{
   transform: scale(1.1);
   background: white;
   transition: .4s;
   
   box-shadow: 0 14px 28px rgb(0,0,0,0.12),0 10px 10px rgba(0, 0, 0, 0.22);
}
.social a:nth-child(1):before{
   color: blue;
}
.social a:hover:before{
   filter: blur(3px);
   transform: scale(1.2);
}
.social a:nth-child(1):hover{
   color: #456cba;
   box-shadow: 0 0 15px #4267B2;
   text-shadow: 0 0 15px #4267B2;
}
.social a:nth-child(2):hover{
   color: #26a4f2;
   text-shadow: 0 0 15px #1DA1F2;
   box-shadow: 0 0 15px #1DA1F2;
}
.social a:nth-child(3):hover{
   color: violet;
   text-shadow: 0 0 15px violet;
   box-shadow: 0 0 15px cyan;
}
.social a:nth-child(4):hover{
   color: #2a6cbb;
   text-shadow: 0 0 15px #ff0000;
   box-shadow: 0 0 15px violet;
}  
.social a:nth-child(5):hover{
   color: red;
   box-shadow: 0 0 15px red;
   text-shadow: 0 0 15px red;
}
.social a:nth-child(6):hover{
   color: red;
   box-shadow: 0 0 15px maroon;
   text-shadow: 0 0 15px orangered;
}
.social a:nth-child(7):hover{
   color: blue;
   box-shadow: 0 0 15px blueviolet;
   text-shadow: 0 0 15px slateblue;
}
::-webkit-scrollbar{
   width: 15px;
}
::-webkit-scrollbar-track{
   background: #d1e5ff;
}
::-webkit-scrollbar-thumb{
   background: linear-gradient(#642bff, #ff22e6);
   border-radius: 10px;
}
::-webkit-scrollbar{
   width: 15px;
}
::-webkit-scrollbar-track{
   background: #d1e5ff;
}
::-webkit-scrollbar-thumb{
   background: linear-gradient(#642bff, #ff22e6);
   border-radius: 10px;
}

